

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    font-size: 1px;
}

.body {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}



.header {
    /* background-color: aqua; */
    width: 100%;
    position: fixed;
}

.header-nav {
    /* background-color: chartreuse; */
    display: flex;
    width: 75%;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 15rem;
}

.header-nav-title {
    /* background-color: violet; */
    margin-right: auto;
    font-size: 35rem;
}

.header-nav-title-item {
    color: #E1E1E1;
    margin: 0 15px;
}


.header-nav-toggle {
    background: none;
    border: none;
    color: #E1E1E1;
    display: none;
    font-size: 25rem;
}



.header-nav-menu {
    /* background-color: crimson; */
    display: flex;
    font-size: 25rem;
    flex-wrap: wrap;
    margin-left: auto;
}

.header-nav-menu-item {
    /* background-color: burlywood; */
    color: #E1E1E1;
    margin: 0 25px;
}

.start {
    margin-left: 0;
}

.end {
    margin-right: 0;
}

.header-nav-menu-item-link {
    /* background-color: burlywood; */
    color: #E1E1E1;
}


.header-hr{
    display: none;
}

.separator {
    width: 100%;
    background-color: #252525;
    height: 5rem;
    border: none;
}

/* --------------------------------- */
/* MAIN */
/* --------------------------------- */




.main {
    background: url("Images/home.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.main-container {
    /* background-color: blue; */
    color: #E1E1E1;
    display: flex;
    height: 85%;
    width: 75%;
    align-items: flex-end;
    margin: auto;
    font-size: 30rem;
}


/* ------ */
/* | ME | */
/* ------ */

.me {
    /* background-color: red; */
    width: 100%;
}

.me-container {
    /* background-color: darkgreen; */
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 15rem;
    flex-direction: column;

}

.me-container-title {
    /* background-color: yellow; */
    font-size: 25rem;
}

.me-content {
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    margin-top: 15rem;
    width: 75%;
}

.me-content-left {
    /* background-color: aqua; */
    width: 30%;
    padding: 15rem;
}

.me-content-left-photo {
    /* background-color: cadetblue; */
    width: 100%;
}

.me-content-right {
    /* background-color: blue; */
    font-size: 20rem;
    padding: 15rem;
    width: 65%;
    margin-left: auto;
}

.me-content-right-info {
    /* background-color: darkorchid; */
    line-height: 35rem;
    text-align: justify;
}



/* ------------ */
/* | SERVICES | */
/* ------------ */


.services {
    /* background-color: blue; */
    width: 100%;
    font-size: 20rem;
}

.services-container {
    /* background-color: brown; */
    width: 75%;
    margin: auto;
    padding: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services-content {
    /* background-color: aqua; */
    width: 95%;
    display: flex;
    margin-top: 15rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15rem;
}

.services-content-item {
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    flex-wrap: wrap;
    padding: 15rem;
    margin: 10rem;
}

.services-item-title {
    margin-top: 15rem;
}

.services-item-text {
    text-align: justify;
    margin-top: 30rem;
}



/* ---------- */
/* | SKILLS | */
/* ---------- */

.skills {
    /* background-color: gray; */
    width: 100%;
    font-size: 20rem;
}

.skills-container {
    /* background-color: greenyellow; */
    width: 75%;
    margin: auto;
    padding: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-content {
    /* background-color: aqua; */
    display: flex;
    margin-top: 15rem;
    padding: 15rem;
    width: 95%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-content-left {
    /* background-color: yellow; */
    margin: 15rem;
    width: 350px;
    text-align: justify;
    padding: 15rem;
}
.skills-content-right {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: center;
    justify-content: center;
    padding: 15rem;
    margin: 15rem;
}

.skils-right-item {
    /* background-color: crimson; */
    width: 100%;
    margin: 5rem;
}

.skils-right-item-title {
    display: flex;
    justify-content: space-between;
}

.skills-right-item-bar {
    background-color: black;
    height: 5px;
    display: flex;
}

.skills-right-item-porcent {
    background-color: wheat;
    width: 85%;
}



.Marks {
    background-color: brown;
    width: 100%;
}

.footer {
    background-color: lightblue;
    width: 100%;
}

@media (max-width: 1000px) {
    .header-nav {
        /* background-color: red; */
        flex-direction: column;
        padding: 0;
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }

    .header-nav-title {
        /* background-color: aquamarine; */
        font-size: 35rem;
    }

    .header-hr {
        background-color: #E1E1E1;
        display: block;
        height: 5px;
        width: 100%;
    }

    .header-nav-menu {
        /* background-color: blue; */
        width: 100%;
        font-size: 20rem;
        justify-content: space-between;
    }

    .header-nav-menu-item {
        /* background-color: blueviolet; */
        margin: 0;
    }

    .header-nav-title {
        margin-right: 0;
    }

    .main-container {
        /* background-color: blue; */
        font-size: 25rem;
    }

}










@media (max-width: 500px) {

    .header-nav {
        /* background-color: blueviolet; */
        flex-direction: row;
        height: 75px;
    }


    .header-nav-title {
        font-size: 35rem;
    }

    .header-hr {
        display: none;
    }

    .header-nav-menu {
        align-items: center;
        background-color: #252525;
        flex-direction: column;
        position: fixed;
        top: 75px;
        height: 35%;
        font-size: 20rem;
        left: 100%;
        justify-content: space-around;
    }

    .header-nav-menu_visible {
        left: 0;
    }

    .header-nav-toggle {
        display: block;
        cursor: pointer;
    }

    .start {
        margin-right: 10px;
    }

    .end {
        margin-left: 10px;
    }
}




@media (max-width: 350px) {

    .header-nav-title {
        font-size: 28rem;
    }

    .header-nav-menu {
        font-size: 20rem;
    }

    .main-container {
        /* background-color: blue; */
        font-size: 20rem;
    }
}




@media (max-width: 250px) {
    .header-nav {
        width: 100%;
        justify-content: space-around;
    }
    .header-nav-title {
        margin: 0;
        font-size: 20rem;
    }

    .header-nav-title-item {
        padding: 0;
        margin: 0;
    }

    .header-nav-menu {
        font-size: 18rem;
    }

    .main-container {
        /* background-color: blue; */
        font-size: 18rem;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #AAAAAA;

}

::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 75px;
}